{% extends 'base.html' %}
{% block content %}
<div class="container" id="add-time">
    <div class="row mt-5">
        <div class="col-sm-12 col-md-6 offset-md-3">
            <div class="card my-5">
                <h5 class="card-header text-white bg-light-brown">Add Time</h5>
                <div class="card-body bg-gray">
                    <!-- Add time form -->
                    <form method="POST" action="{{ url_for('add_time') }}">
                        <div class="form-row">
                            <!-- Time name -->
                            <div class="form-group col-sm-12">
                                <label for="time">Time:</label>
                                <input type="text" class="form-control" name="time" id="time" placeholder="Enter time"
                                    minlength="1" maxlength="10" required>
                            </div>
                        </div>
                        <!-- Buttons -->
                        <button type="submit" class="button btn-green">Add Time</button>
                        <a class="button btn-red ml-3" href="{{ url_for('dashboard') }}">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}