{% extends 'base.html' %}
{% block content %}
<div class="container" id="add-area">
    <div class="row mt-5">
        <div class="col-sm-12 col-md-6 offset-md-3">
            <div class="card mt-5">
                <h5 class="card-header text-white bg-light-brown">Add Area</h5>
                <div class="card-body bg-gray">
                    <form method="POST" action="{{ url_for('add_area') }}">
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label for="name">Area Name:</label>
                                <input type="text" class="form-control" name="name" id="name"
                                    placeholder="Enter area name" minlength="5" maxlength="25" required>
                            </div>
                        </div>
                        <button type="submit" class="button btn-green">Add Area</button>
                        <a class="button btn-red ml-3" href="{{ url_for('dashboard') }}">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}