{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">{{hike.hike_name}}</h1>

<div class="container">
    <div class="card mt-5 login">
        <h5 class="card-header text-white bg-dark">Mark this hike as completed?</h5>
        <div class="card-body">
            <form method="POST" action="{{ url_for('complete_hike', hike_id=hike._id) }}">
                <div class="form-group col-sm-12 col-md-6">
                    <label for="date">Date:</label>
                    <input type="text" class="form-control" id="picker" name="date" readonly='true' required>
                </div>
                <button type="submit" class="btn btn-success">Yes</button>
                <a class="btn btn-danger" href="{{ url_for('hike', hike_id=hike._id) }}">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}