{% extends 'base.html' %}
{% block content %}


<h1 class="header-text glass my-4">Admin Dashboard</h1>

<div class="container">
    <!-- Hike areas -->
    <div class="card bg-gray p-4 mb-5">
        <h2 class="text-center mb-4">Hike Areas</h2>
        <div class="row">
            {% for area in areas %}
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <div class="card text-center">
                    <div class="card-header bg-green">
                        <h5 class="card-title">{{area.name}}</h5>
                    </div>
                    <!-- Edit/Delete buttons -->
                    <div class="card-body bg-light">
                        <a href="{{ url_for('edit_area', area_id=area._id)}}" class="button button-small btn-green">Edit
                            Area</a>
                        <a href="{{ url_for('delete_area', area_id=area._id)}}"
                            class="button button-small btn-red ml-3">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Add area button -->
        <div class="row text-center mt-4">
            <div class="col">
                <a href="{{ url_for('add_area') }}" class="button btn-green">Add Area</a>
            </div>
        </div>
    </div>
    <!-- Hike times -->
    <div class="card bg-gray p-4 mb-5">
        <h2 class="text-center mb-4">Hike Times</h2>
        <div class="row">
            {% for time in times %}
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <div class="card text-center">
                    <div class="card-header bg-green">
                        <h5 class="card-title">{{time.time}} hours</h5>
                    </div>
                    <!-- Edit/Delete buttons -->
                    <div class="card-body bg-light">
                        <a href="{{ url_for('edit_time', time_id=time._id)}}" class="button button-small btn-green">Edit
                            Time</a>
                        <a href="{{ url_for('delete_time', time_id=time._id)}}"
                            class="button button-small btn-red ml-3">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Add time button -->
        <div class="row text-center mt-4">
            <div class="col">
                <a href="{{ url_for('add_time') }}" class="button btn-green">Add Time</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}