{% extends 'base.html'%}
{% block content %}

<h1 class="header-text glass mt-5">{{hike.name}}</h1>

<div class="container" id="delete-hike">
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
            <div class="card mt-5">
                <h5 class="card-header text-white bg-light-brown">Are you sure you want to delete this hike?</h5>
                <div class="card-body bg-gray">
                    <form method="POST" action="{{ url_for('delete_hike', hike_id=hike._id) }}">
                        <button type="submit" class="button btn-green">Yes</button>
                        <a class="button btn-red ml-3" href="{{ url_for('hike', hike_id=hike._id) }}">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}