{% extends 'base.html'%}
{% block content %}

<h1 class="header-text glass mt-5">{{time.time}} hours</h1>

<div class="container" id="delete-time">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card my-5">
                <h5 class="card-header text-white bg-light-brown">Are you sure you want to delete this time?</h5>
                <div class="card-body bg-gray">
                    <form method="POST" action="{{ url_for('delete_time', time_id=time._id) }}">
                        <button type="submit" class="button btn-green">Yes</button>
                        <a class="button btn-red ml-3" href="{{ url_for('dashboard') }}">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}