{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="card mt-5 login">
        <h5 class="card-header text-white bg-dark">Edit Hike</h5>
        <div class="card-body">
            <form method="POST" action="{{ url_for('edit_hike', hike_id=hike._id) }}">
                <div class="form-row">
                    <div class="form-group col-sm-12 col-md-6">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Enter hike name"
                            minlength="5" maxlength="15" value="{{hike.name}}" required>
                    </div>
                    <div class="form-group col-sm-12 col-md-6">
                        <label for="area">Area:</label>
                        <select class="form-control" name="area" id="area">
                            <option selected disabled>Choose Area</option>
                            {% for area in areas %}
                            {% if area.name == hike.area %}
                            <option value="{{area.name}}" selected>{{area.name}}</option>
                            {% else %}
                            <option value="{{area.name}}">{{area.name}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-12 col-md-6">
                        <label for="length">Length (km):</label>
                        <input type="number" class="form-control" name="length" id="length" minlength="1" maxlength="6"
                            min="1" step=".01" value="{{hike.length}}" required>
                        <!-- BUG FIX for decimal step="0.1"-->
                    </div>
                    <div class="form-group col-sm-12 col-md-6">
                        <label for="time">Time (hours):</label>
                        <select class="form-control" name="time" id="time">
                            <option selected disabled>Choose Time</option>
                            {% for time in times %}
                            {% if time.time == hike.time %}
                            <option value="{{time.time}}" selected>{{time.time}}</option>
                            {% else %}
                            <option value="{{time.time}}">{{time.time}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-12">
                        <label for="notes">Hike Notes:</label>
                        <textarea class="form-control" name="notes" id="notes" rows="3" maxlength="300" required>
                        {{- hike.notes -}}
                    </textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-12 col-md-6">
                        <label for="photo">Photo URL:</label>
                        <input type="url" class="form-control" id="photo" name="photo" value={{hike.img_url}} required>
                    </div>
                    <div class="form-group col-sm-12 col-md-6">
                        <label for="date">Date:</label>
                        <input type="text" class="form-control" id="edit-date-picker" name="date" readonly='true'
                            value={{original_hike_date}} required>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Edit Hike</button>
                <a class="btn btn-danger" href="{{ url_for('hike', hike_id=hike._id) }}">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}