<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% for hike in hikes %}
    {{hike.name}}<br>
    {{hike.area}}<br>
    {{hike.length}}<br>
    {{hike.time}}<br>
    {{hike.notes}}<br>
    {{hike.added_by}}<br>
    {% for hiker in hike.hiked_by %}
    {% for name, date in hiker.items()%}
    {{name}}
    {{date}}
    {% endfor %}
    <br>
    {% endfor %}
    <br>
    {% endfor %}
</body>

</html>