{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row m-3">
        <div class="col-md-5">
            <div class="row">
                <div class="card card-body">
                    <h5>Hike: {{hike.name}}</h5>
                </div>
            </div>
            <div class="row mt-3">
                <div class="card card-body">
                    <h5>Notes:</h5>
                    <hr>
                    {{hike.notes}}
                </div>
            </div>
            <div class="row mt-3">
                <div class="card card-body">
                    <h5>Stats:</h5>
                    <hr>
                    <ul>
                        <li><i class="fas fa-mountain"></i> <strong>Area:</strong> {{hike.area}}</li>
                        <li><i class="fas fa-ruler-horizontal"></i> <strong>Length:</strong> {{hike.length}} km</li>
                        <li><i class="fas fa-stopwatch"></i> <strong>Time:</strong> {{hike.time}} hours</li>
                        <li><i class="fas fa-user-edit"></i> <strong>Added by:</strong> {{hike.added_by}}</li>
                        <li><i class="fas fa-hiking"></i>
                            <strong>Hiked by:</strong>
                            {% for hiker in hikers %}
                            {% if loop.index != loop.length %}
                            {{hiker}},
                            {% else %}
                            <!-- Remove comma after last hiker in array is displayed -->
                            {{hiker}}.
                            {% endif %}
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mt-3">
                <div class="card card-body">
                    {% if session['user'] in hikers %}
                    <p>You completed this hike on {{user_hike_date}}</p>
                    <p>Mark as <a href="{{ url_for('incomplete_hike', hike_id=hike._id) }}"
                            class="btn btn-sm btn-danger">incomplete</a></p>
                    {% else %}
                    <p>You have not completed this hike.</p>
                    <p>Mark as <a href="{{ url_for('complete_hike', hike_id=hike._id) }}"
                            class="btn btn-sm btn-success">complete</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row ml-md-3">
                <div class="card card-body">
                    <img class="photo" src="{{hike.img_url}}" alt="Hike image">
                </div>
            </div>
            {% if hike.added_by == session['user'] %}
            <div class="row mt-3 ml-md-3">
                <div class="card card-body">
                    <a class="btn btn-outline-success btn-sm btn-block"
                        href="{{ url_for('edit_hike', hike_id=hike._id)}}">Edit Hike</a>
                    <a class="btn btn-outline-danger btn-sm btn-block"
                        href="{{ url_for('delete_hike', hike_id=hike._id)}}">Delete Hike</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}