{% extends 'base.html' %}
{% block content %}


<div class="container">
    <div class="row mb-2">
        <div class="col-sm-12 col-md-4">
            <div class="card text-center mb-3">
                <div class="card-header bg-success">
                    <h5 class="card-title">Total Hikes</h5>
                </div>
                <div class="card-body bg-light">
                    <h3 class="card-title">{{total_hikes}}</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card text-center mb-3">
                <div class="card-header bg-success">
                    <h5 class="card-title">Total Length</h5>
                </div>
                <div class="card-body bg-light">
                    <h3 class="card-title">{{sum_hike_lengths}} km</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card text-center mb-3">
                <div class="card-header bg-success">
                    <h5 class="card-title">Average Length</h5>
                </div>
                <div class="card-body bg-light">
                    <h3 class="card-title">{{"%.2f"|format(sum_hike_lengths / total_hikes)}} km</h3>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}