{% extends 'base.html' %}
{% block content %}

<h1 class="header-text">All Hikes</h1>

{% if not session['user'] %}
<h5 class="text-center mb-4">Please <a href="{{ url_for('login') }}">login</a> to view additional hike information</h5>
{% endif %}

<div class="container">
    <div class="row mb-2">
        <div class="col-sm-12 col-md-4">
            <div class="card text-center mb-3">
                <div class="card-header bg-success">
                    <h5 class="card-title">Total Hikes</h5>
                </div>
                <div class="card-body bg-light">
                    <h3 class="card-title">{{total_hikes}}</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card text-center mb-3">
                <div class="card-header bg-success">
                    <h5 class="card-title">Total Length</h5>
                </div>
                <div class="card-body bg-light">
                    <h3 class="card-title">{{sum_hike_lengths}} km</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card text-center mb-3">
                <div class="card-header bg-success">
                    <h5 class="card-title">Average Length</h5>
                </div>
                <div class="card-body bg-light">
                    <h3 class="card-title">{{"%.2f"|format(sum_hike_lengths / total_hikes)}} km</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-12 col-md-4">
            <div class="card text-center mb-3">
                <div class="card-header bg-success">
                    <h5 class="card-title">Dublin Hikes</h5>
                </div>
                <div class="card-body bg-light">
                    <h3 class="card-title">{{dublin_hikes_count}}</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card text-center mb-3">
                <div class="card-header bg-success">
                    <h5 class="card-title">Wicklow Hikes</h5>
                </div>
                <div class="card-body bg-light">
                    <h3 class="card-title">{{wicklow_hikes_count}}</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card text-center mb-3">
                <div class="card-header bg-success">
                    <h5 class="card-title">Kerry Hikes</h5>
                </div>
                <div class="card-body bg-light">
                    <h3 class="card-title">{{kerry_hikes_count}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card p-2 mb-5">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="hikesTable">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Length (km)</th>
                                <th>Time (hours)</th>
                                <th>Area</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hike in hikes %}
                            <tr>
                                <td>
                                    {% if session['user'] %}
                                    <a class="btn btn-sm btn-success"
                                        href="{{ url_for('hike', hike_id=hike._id)}}">View</a>
                                    {% endif %}
                                </td>
                                <td>{{hike.name}}</td>
                                <td>{{hike.length}}</td>
                                <td>{{hike.time}}</td>
                                <td>{{hike.area}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}