{% extends 'base.html' %}
{% block content %}

<div class="bg-gray">
    <section id="hero-outer">
        <div id="hero-image"></div>
        <div id="cover-text">
            <h2>Hike Logger</h2>
            <h4>The pefect place to log and share your hikes</h4>
        </div>
    </section>
    <div class="container">
        <h1 class="text-center">Latest Hikes</h1>
        <div class="row">
            {% for hike in latest_hikes%}
            <div class="col-sm-12 col-md-3">
                <div class="card mb-4">
                    <img src="{{hike.img_url}}" class="card-img-top" alt="hike image">
                    <div class="card-body">
                        <h4 class="card-title mb-4 brown-text text-shadow">{{hike.name}}</h4>
                        <p><i class="fas fa-mountain"></i><span class="ml-3">{{hike.area}}</span></p>
                        <p><i class="fas fa-stopwatch"></i><span class="ml-4">{{hike.time}} hours</span></p>
                        <p class="mb-4"><small><strong>Added by</strong> {{hike.added_by}}</small></p>
                        {% if session.user %}
                        <a href="{{ url_for('hike', hike_id=hike._id)}}" class="button btn-green">View Hike</a>
                        {% else %}
                        <a href="{{ 'login' }}" class="button btn-green">Login to view</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
</div>
{% endblock %}