{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12 col-md-6 offset-md-3">
            <div class="card mt-5 glass">
                <h5 class="card-header text-white bg-light-brown">Login</h5>
                <div class="card-body bg-gray glass">
                    <form method="POST" action="{{ url_for('login') }}">
                        <!-- Username -->
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username" id="username"
                                placeholder="Enter username" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"
                                required>
                        </div>
                        <!-- Password -->
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password"
                                placeholder="Enter Password" minlength="8" pattern="^[a-zA-Z0-9]{8,15}$" maxlength="15"
                                aria-describedby="passwordHelpBlock" required>
                        </div>
                        <!-- Login -->
                        <button type="submit" class="button btn-green">Login</button>
                    </form>
                    <div class="row">
                        <div class="col-sm-12 mt-4">
                            <p>Don't have an account? <a href="{{ url_for('register')}}">Register</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}